include ../like-button/like-button

mixin comment(options)
    -
        const likes = options.likes || 0
        const text = options.text || 'lorem'
        const time = options.time || 'Сейчас'
        const name = options.name || 'Имя Фамилия'
        const img = options.img || '../../../assets/favicon/favicon.ico'
    .comment
        .comment__info
            .comment__info-img
                img(src=img alt=name)
            .comment__info-inner
                .comment__info-author=name
                .comment__info-time=time
        .comment__content
            +like-button(likes)
            p.comment__content-text=text
