include ../like-button/like-button

mixin comment({likes = 0, text = 'lorem', time = 'Сейчас', name = 'Имя Фамилия', img = '../../../assets/favicon/favicon.ico'})
    .comment
        .comment__info
            .comment__info-img
                img(src=img alt=name)
            .comment__info-inner
                .comment__info-author=name
                .comment__info-time=time
        .comment__content
            +like-button({likes: likes, jsClass: 'js-comment-like-button'})
            p.comment__content-text=text
