mixin text-field({withPadding = false, withDropdown = false, placeholder = 'Email', type = 'text', isReadonly = false} = {})
    -
        const paddingClass = withPadding ? 'text-field_with-padding' : ''
        const dropdownClass = withDropdown ? 'text-field_with-dropdown' : ''
    input.text-field(placeholder=placeholder type=type class=paddingClass class=dropdownClass readonly=isReadonly)
