mixin button({text = 'click me', size = '', type = '', withArrow = false, modifier = ''})
    -
        let sizeType = 'default';
        let className = 'button';
        if (size) {
            sizeType = size;
            className += ` button__${sizeType}`;
        }
        if (type)
            className += ` button__${type}`;
        if (modifier)
            className += ` button__${modifier}`
    if (withArrow)
        button(class=className)= text
            span.button__arrow
    else
        button(class=className)= text
