mixin canvas({colors = [], count = 0, options: {bad, normal, good, awesome}} = {})
    .canvas
        span.canvas__count= count
        span.canvas__word
        div.canvas__legend
            each val, n in colors
                p(class=`canvas__legend-colors canvas__legend-color-${n}`)=val
        canvas(data-bad=bad data-normal=normal data-good=good data-awesome=awesome
            class='js-canvas__area' width="120" height="126" aria-label="Room Chart" role="chart")
