mixin canvas({colors = [], count = 0, options: {bad, normal, good, awesome}} = {})
    .canvas
        span.canvas__count= count
        -
            const value = count % 100
            const n1 = count % 10
        if (value > 10 && value < 20)
            span.canvas__word  голосов
        else if (n1 > 1 && n1 < 5)
            span.canvas__word  голоса
        else if (n1 === 1)
            span.canvas__word  голос
        else
            span.canvas__word  голосов
        div.canvas__legend
            each val, n in colors
                p(class=`canvas__legend-colors canvas__legend-color-${n}`)=val
        canvas(data-bad=bad data-normal=normal data-good=good data-awesome=awesome
            class='js-canvas__area' width="120" height="126" aria-label="Room Chart" role="chart")
