include ../dropdown-item/dropdown-item
include ../button/button

mixin dropdown({type = 'default', title = 'Гости'} = {})
    -
        let placeholder = ''
        let hasButtons = false
        let className = 'dropdown-' + type
        let wordsArray = []
    if type === 'default'
        -
            hasButtons = true
            placeholder = 'Сколько гостей'
            wordsArray = ["взрослые", 'дети', "младенцы"]
    else if type = 'rooms'
        -
            wordsArray = ["спальни", 'кровати', "ванные комнаты"]
            placeholder = 'Сколько комнат'
    div.dropdown.js-dropdown(class=className class='js-' + className)
        .dropdown__input-wrapper.js-dropdown__input-wrapper
            p.dropdown__input-wrapper-title= title
            span.dropdown__open-button
            input.dropdown__input.js-dropdown__input(placeholder=placeholder type=type readonly=true)
        ul.dropdown__list.js-dropdown__list
            .dropdown__dropdown-item-wrapper.js-dropdown__dropdown-item-wrapper
                +dropdown-item(wordsArray)
            if hasButtons
                li.dropdown__interactive
                    .js-dropdown__interactive-clear
                        +button({text: 'очистить', type: 'with-text'})
                    .js-dropdown__interactive-confirm
                        +button({text: 'применить', type: 'with-text'})
