include ../rate-button/rate-button

mixin room-card({images = [], number = '1337', type = '', cost = '666₽', rating = 0, reviews = 0, uniqueID = ''} = {})
    .room-card
        .room-card__top.js-room-card__top
            each src in images
                img(class='room-card__top-img' src=src)
        .room-card__content
            ul.room-card__list
                li.room-card__item
                    .room-card__number
                        strong.room-card__number-text=number
                        if type
                            span.room-card__type=type
                    .room-card__price
                        strong.room-card__price-inner=cost
                        span.room-card__price-date  в сутки
                li.room-card__item
                    +rate-button({count: rating, unique: uniqueID})
                    .room-card__reviews
                        strong.room-card__reviews-text=reviews
                        -
                            const value = reviews % 100
                            const n1 = reviews % 10
                        if (value > 10 && value < 20)
                            span  Отзывов
                        else if (n1 > 1 && n1 < 5)
                            span  Отзыва
                        else if (n1 === 1)
                            span  Отзыв
                        else
                            span  Отзывов
